include custom_styles/static/css/custom.css
include custom_styles/static/js/custom_login.js
include custom_styles/static/js/custom_abstract.js
include custom_styles/static/js/custom_manage_abstract.js